@*@Model

@{ 
    ViewData["Title"] = "Survey";
}

<div>
    <h1>Please click for the WFH Survey</h1>
    <a type="button" value="WFHSurvey" asp-action="WFHSurvey" />
</div>

<div>
    <h1>Please click for the Social Survey</h1>
    <a type="button" value="SocialSurvey" asp-action="SocialSurvey" />
</div>*@