html {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    font-family: 'Times New Roman', Times, serif
}

header {
    display: flex;
    height: 60px;
}

header a {
    display: flex;
    align-self: auto;
}

header > h1 {
    font-size: larger;
    display: flex;
    align-self: auto;
    margin: 20px 20px 20px 20px;
    align-self: center;
    width: 250px;
}

#search {
    display: inline-flex;
    height: 40px;
    align-self: auto;
    margin-left: 20px;
    margin-top: 10px;
    width: 1500px;
}

.topnav {
    display: flex;
    border: 1px solid lightgray;
    border-right: none;
    border-left: none;
    height: 50px;
    margin: 20px 0px 20px 0px;
}

.topnav div {
    align-self: center;
    padding: 7px 20px 7px 20px;
    margin: 2px 10px 2px 10px;
}

.topnav a {
    color: black;
}

.topnav a:hover {
    color: blue;
}

.casesOverview, .vaccinesOverview, .chartsOverview, .aboutOverview, .surveyOverview, .siteDetails {
    display: block;
    border: 1px solid lightgray;
    margin: 10px 10px 10px 10px;
    padding: 1px;
    height: auto;
    width: auto;
    border-radius: 10px;
}

/* News - Homepage */
.newsOverview {
    display: inline-flex;
    border: 1px solid lightgray;
    margin: 5px 5px 5px 5px;
    padding: 1px 1px 1px 1px;
    height: auto;
    width: 99%;
    border-radius: 10px;
}

.countryTweetCol {
    display: block;
    width: 25%;
    height: auto;
    margin-bottom: 0px
}

#COVIDNewsByMIB, #MoHFW_INDIA, #countryNews {
    display: block;
    width: 100%;
    overflow-y: scroll;
    height: 60vh;
    margin-bottom: 0px
}

.countryNewsCol {
    display: block;
    width: 50%;
    overflow-y: scroll;
    height: auto;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey
}

#countryNews div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: auto;
    margin: 10px 10px 10px 10px;
    min-height: 120px;
    height: auto
}

#countryNews h3 {
    font-size: large;
    font-weight: 600;
    margin: 20px 20px 20px 20px;
}

#countryNews h5 {
    font-weight: 500;
    margin: 20px 20px 20px 20px
}

#countryNews a {
    color: black;
}

#countryNews a:hover {
    color: blue
}
/* News - Homepage */

/*News Page*/
#newsDivTop, #newsDivBottom {
    display: inline-flex;
    width: 98%;
    height: 70vh;
    margin: 0px 10px 10px 10px
}
.newsCol {
    display: block;
    width: 50%;
    height: inherit
}
.tweetsCol {
    display: block;
    width: 25%;
    height: inherit
}
.topTweetsWorld, .topNewsWorld, .topTweetsUS, .topTweetsEurope, .topTweetsAfrica, .topTweetsAsia {
    display: block;
    width: 100%;
    overflow-y: scroll;
    height: 93%
}
.orgTweetCol {
    display: block;
    width: 100%;
    height: 50%;
}

.tweetsWHO, .tweetsGHS {
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.nyCard {
    display: inline-flex;
    height: auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    width: 98%;
    margin: 5px 5px 5px 5px;
    justify-content: space-between;
/*    overflow-y: scroll*/
}

.newsSection {
    margin: 5px 5px 5px 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: space-between
}

.newsSection a {
    color: black;
    font-weight: 600;
    font-size: medium
}

.newsSection a:hover {
    color: blue
}

.newsSection h5 {
    color: #404040;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.newsSection h6 {
    color: red;
    margin-left: 0px;
    margin-bottom: 10px;
    font-weight: 500
}

.imgSection {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin: 0px 0px 0px 5px
}

.imgSection img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px
}
/*News Page*/

.newsHeading, .casesHeading, .chartsHeading, .vaccinesHeading, .chartCasesHeading, .chartDeathsHeading, .chartVaccinesHeading, .tweetHeading, .aboutHeading, .surveyHeading, #country, #world {
    display: inline-block;
    font-size: larger;
    font-weight: bold;
    padding: 10px 0px 1px 10px;
    color: black;
}

.countryStats, .worldStats {
    display: inline-flex;
    border: 1px solid lightGray;
    margin: 10px 10px 10px 10px;
    padding: 10px;
    border-radius: 10px;
    width: 98%;
    overflow-y: scroll
}

.statsDiv {
    display: block;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    width: auto;
    height: 120px;
    padding-right: 20px;
    margin: 20px 20px 20px 20px;
    border-right: 1px solid lightgray;
}

.stat, .vacStat {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: tomato;
}

.vacStat {
    color: dodgerblue;
}

table {
    margin: 5px 5px 5px 5px;
    border: none;
}

.topRow th {
    background-color: #fff2f2;
    top: 0;
    position: sticky
}

.topRowVac th {
    background-color: #ebf5ff;
    top: 0;
    position: sticky
}

.tableCases th, .tableCases td {
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #b52a0e;
    text-align: center
}

.tableVac th, .tableVac td {
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #337d14;
    text-align: center
}

th:first-of-type {
    width: 8%
}

.topRow button {
    border: 1px solid lightgray;
    border-radius: 50px;
    background-color: inherit
}

.topRow i {
    color: #b52a0e;
}

.topRowVac button {
    border: 1px solid lightgray;
    border-radius: 50px;
    background-color: inherit
}

.topRowVac i {
    color: #337d14
}

tr:nth-child(2n+1) {
    background-color: #f2f5ff;
}

.charts {
    display: block;
}

.chartCases, .chartDeaths, .chartVaccines {
    border: 1px solid lightGray;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.locationOverview {
    height: 600px;
    overflow: scroll;
}

footer > p {
    background-color: lightgray;
}

.quesDiv {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
    height: auto;
}

.quesFirst {
    width: 50%;
}

.question {
    margin: 40px 40px 15px 40px;
}

.answer {
    margin: 15px 40px 20px 80px;
}

.ansStat {
    margin: 40px 40px 40px 40px;
    width: 50%;
}

#registerDiv {
    display: block;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    margin: auto;
    width: 40%;
    padding: 40px 40px 40px 40px;
}

.registerModal {
    border: 1px solid lightgray;
    border-radius: 10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

select {
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 30px;
    padding: 4px 4px 4px 4px;
}

#countrySearch {
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 30px;
    padding: 4px 4px 4px 4px;
}

.social {
    display: inline-flex;
    padding: 10px 10px 10px 10px;
    position: absolute;
    right: 0
}

.social a {
    padding: 0px 10px 0px 10px;
}

a:hover {
    text-decoration: none;
    transition: transform 0.4s;
    transform: scale(1.2)
}

.navicon {
    color: midnightblue;
}

.navicon:hover {
    transition: transform 0.4s;
    transform: scale(1.2)
}